# Build directories
build/
build/**
release/**
release/
ICSE_DT/** 
old/**
ICSE_DT
old/

# External dependencies (should be installed separately)
UDBM/
utap/

#results folder for now
results/
results/**


.vscode/